@import url('https://fonts.googleapis.com/css2?family=Abel&family=Quicksand:wght@600&display=swap');
.card{
	float: left;
	height: 300px;
	width: 200px;
	margin-right: 70px;
}
.card:hover{
	
	opacity: 0.8;
}
.card1{
	padding-left: 2px;
	font-size: 20px;
	font-family: 'Abel', sans-serif;
}
.card2{
	padding-left: 2px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	display: inline;
}