.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.479), black);
  height: 80px;
  color: white;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-bottom: 2px solid white;
}

.navbar .item {
  padding: 10px;
  flex-grow: 1;
  height: 100%;
}

.navbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.navbar .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .right div,
.left div,
.centre div {
  padding: 5px;
  font-weight: 500;
  font-size: 1.06em;
}

.navbar .right .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: 0.5s;
  position: relative;
}

.navbar .right .dropdown {
  display: none;
  background: rgba(61, 61, 61, 0.9);
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

.navbar .right .profile .dropdown-active {
  display: flex;
}

.navbar .right .dropdown li {
  list-style: none;
  padding: 5px;
  font-size: 0.85em;
  font-weight: 400;
  cursor: pointer;
}

.navbar .right .profile:hover {
  background: rgb(58, 58, 58);
}

.navbar .right .profile img {
  width: 40px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 20px 20px 60px #0d0b14, -20px -20px 60px #000000;
  cursor: pointer;
}

.navbar .right .profile h5 {
  padding: 5px;
  font-weight: 500;
  cursor: pointer;
}

.navbar .left .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .left .brand h5 {
  font-size: 1.25em;
  letter-spacing: 2px;
}

.navbar .left .brand .logo {
  transform: rotateZ(90deg);
}

.navbar .center input {
  width: 80%;
  height: 35px;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  /* background: #0f0f53; */
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.05em;
  min-width: 200px;
}

.navbar .center input:focus {
  outline: none;
  box-shadow: #0404d8 0 0 10px;
}
